.item{
    width: 200px;
    height: 200px;
    border: 1px solid cadetblue;
    
    }
    
    .item.active{
        border-style: dashed;
        border-color: darkmagenta;
    }
    
    .img-box{
    
        width: 200px;
        height: 200px;
        background-image: url(https://picsum.photos/200/300);
        background-size: cover;
        cursor: move;
    }